header{
    background-image: url(../image/Grosse\ Eibsee_Ausschnitt_kleiner.png);
    height: 110px;
    
}

nav{
    background-color: rgb(243, 228, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}