/* Enthält die Styleelemente der Hauptseite */




/* CSS für Navigationsleiste und footer */
nav{
   
   /*display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;*/
    border: solid 5px red;
}

nav>ul{
   
    border-right: solid lightgrey 2px ;
    padding-left: 15px;
    padding-right: 15px;
}

nav>#leftLink{
    border-left: solid  lightgrey 2px ;
}

/* Ende Navigationsleiste und footer*/

/* Ausrichtung footer am unterem Bildschirmrand*/
footer{

}

#ueberschriftUnterseiten{

    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}

address{
    text-align: center;
    font-size: x-large;
}





    main{
        text-align: center;
    }
        
    /* Größe des Buttons auf der Vorschaltseite Index.html */
    #startbutton{
        height: 150px;
        width: 550px;
        font-size: x-large;
    }